ion-toolbar{
    --background: rgba(var(--ion-color-colorgris-rgb));
    --color: var(--ion-color-dark);
}


.btnGoHome{
    --background: var(--ion-color-primary);
}

.contenedor{
   justify-content: start;
   display: flex;
   
}