ion-toolbar{
    --background: rgba(var(--ion-color-colorgris-rgb));
    --color: var(--ion-color-dark);
}

ion-card{
    border-radius: 15px;
}

.imagesCard{
    height: 200px;
    width: 100%;
    
}

.card-title{
    font-size: 23px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    
}

.contSinPermisos{
    flex-direction: column;
    display: flex; 
 }




