<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

<ion-grid>
    <ion-row>
      <ion-col>
        Texto 1 
      </ion-col>
      <ion-col>
        Texto 2 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Texto 3 
      </ion-col>
      <ion-col>
        Texto 4 
      </ion-col>
    </ion-row>
    
</ion-grid>



<div class="contenedor">
  <ion-button class="btnGoCustomers" (click)="goToCustomers()">Go to customers</ion-button>
</div>


</ion-content>
